<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <p><b>Name:</b> <%= @user.name %></p>
      <p><b>Email:</b> <%= @user.email %></p>
    </div>
    <table class="table table-hover table-striped">
      <thead>
        <th>Tweet</th>
      </thead>
      <tbody>
        <tr>
          <td><% @user.tweets.each do |tweet| %>
              <%= tweet.description %>
            <% end -%></td>
        </tr>
      </tbody>
    </table>
    <%= link_to "Back", :back, class: "btn btn-default" %>
  </div>
</div>