<div class="row">
  <div class="col-xs-12">
    <h1>Twitter utilizando o banco de dados MongoDB</h1>
    <p class="lead">
      Consiste em uma aplicação semelhante ao Twitter utilizando o banco de dados MongoDB.
      Foi desenvolvida por José Francisco Campos Limongi para sua monografia do Cefet-MG
    </p>
    <p class="lead">
      This is an application like the Twitter using the MongoDB database.
      It was developed by José Francisco Campos Limongi for his Cefet-MG monograph's
    </p>
  </div>
</div>